h2{
    color: rgb(7, 39, 184);
}

h1 span{
    color: chocolate;
}
.card{
    border: 2px solid black;
    margin: 50px;
    padding: 50px;
    display: inline-block;
}

.img{
    width: 100%;
    border-radius: 25px;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}